In [2]:
a= [10,20,30,40,50]
for y in a:
    print(y)

10
20
30
40
50

In [8]:
name = "Aaryan"
for char in name:
    print(char)

A
a
r
y
a
n

In [20]:
for i in range(1,6):
    print("**************Multiplication******************************************",i)
    for j in range(1,11):
        
        x=i*j
        print(i,"x",j,"is",x)
        
    print(i)

**************Multiplication****************************************** 1
1 x 1 is 1
1 x 2 is 2
1 x 3 is 3
1 x 4 is 4
1 x 5 is 5
1 x 6 is 6
1 x 7 is 7
1 x 8 is 8
1 x 9 is 9
1 x 10 is 10
1
**************Multiplication****************************************** 2
2 x 1 is 2
2 x 2 is 4
2 x 3 is 6
2 x 4 is 8
2 x 5 is 10
2 x 6 is 12
2 x 7 is 14
2 x 8 is 16
2 x 9 is 18
2 x 10 is 20
2
**************Multiplication****************************************** 3
3 x 1 is 3
3 x 2 is 6
3 x 3 is 9
3 x 4 is 12
3 x 5 is 15
3 x 6 is 18
3 x 7 is 21
3 x 8 is 24
3 x 9 is 27
3 x 10 is 30
3
**************Multiplication****************************************** 4
4 x 1 is 4
4 x 2 is 8
4 x 3 is 12
4 x 4 is 16
4 x 5 is 20
4 x 6 is 24
4 x 7 is 28
4 x 8 is 32
4 x 9 is 36
4 x 10 is 40
4
**************Multiplication****************************************** 5
5 x 1 is 5
5 x 2 is 10
5 x 3 is 15
5 x 4 is 20
5 x 5 is 25
5 x 6 is 30
5 x 7 is 35
5 x 8 is 40
5 x 9 is 45
5 x 10 is 50
5

In [56]:
for i in range(11):
    if i%2==0:
        print(i)

0
2
4
6
8
10

In [60]:
for i in range(11):
    if i%2!=0:
        print(i)

1
3
5
7
9

In [62]:
for x in range (11):
    y=x**2
    print(y)

0
1
4
9
16
25
36
49
64
81
100